{% include 'header.html' %}

{% block content %}
<div class="content-wrapper" style="background:#f8f9fa">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Hasil Tabel csv</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="container" align="center">
      <h2> Hasil Load File csv </h2><br><br>
    </div>

    <div class="container">
        <!-- Details Page  -->
        <div class="row">
          <div class="col-md-5" style="background-color:#f8f9fa">
            <h3>Details of Dataset</h3>

            <div class="alert alert-info" role="alert">
              <p><span style="color:black">Filename</span> : {{ filename }}</p>
            </div>

            <div class="alert alert-danger" role="alert">
              <p><span style="color:black">Time Stamp</span> : {{ date }} </p>
            </div>

            <h3>Exploratory Data Analysis</h3>

            <div class="alert alert-info" role="alert"><p><span style="color:black">Size</span> : {{ df_size }}</p></div>
            <div class="alert alert-danger" role="alert"><p><span style="color:black">Shape</span> : <br/>
            (Row,Columns)<br/>
            {{ df_shape }}</p></div>

            <div class="alert alert-info" role="alert">
              <p><span style="color:black">Columns</span> :
                  {% for i in df_columns %}
                  <li>{{ i }}</li>
                  {% endfor %}
              </p>
            </div>

            <div class="alert alert-danger" role="alert">
              <p><span style="color:black">Target</span> : {{ df_targetname }}</p>
            </div>
          </div>

           <!-- Viewing Dataset As a Table-->
          <div class="col-md-6">
            <h3>Details table of Dataset</h3>
            <p><a href="{{ url_for('table')}}" type="button" class="btn btn-warning" > Back </a></p>
            <p>{{ fullfile }} </p>
            <button onclick="displayDataset()" class="btn btn-success"> View Dataset </button>
            <br/>
            <br/>
            <div id="myDIV">
              {{ dfplot.to_html(classes="table table-striped table-hover",na_rep="-") | safe}}
            </div>
          </div>
        </div>
    </div>

</div>
<!-- Main jumbotron for a primary marketing message or call to action -->

{% endblock %}

<!-- Function for Displaying Table -->
<script>
function displayDataset() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

{% include 'footer.html' %}