{% include 'header.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Grafik</h1><br>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Grafik</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <h2 align="center">DHT Sensor Data </h2>
		<h3 class="col-sm-6"> TEMPERATURE &nbsp; ==>  {{ temp  }} oC</h3>
		<h3 class="col-sm-6"> HUMIDITY (Rel.) ==>  {{ hum  }} %</h3>
		<hr>
		<h3 align="center"> Last Sensors Reading: {{ time }} ==> <a href="/grafik"class="button">REFRESH</a></h3>
		<hr>

		<h3 class="col-sm-6"> HISTORICAL DATA </h3>
		<p class="col-sm-6"> Enter range of time to be retrieved in minutes (Sample Frequency: {{ freq }} minutes)
		<form method="POST" class="col-sm-6">
			<input name="rangeTime" value= {{rangeTime}}>
			<input type="submit">
		</form></p>
		<hr>
		<img src="/plot/temp" alt="Image Placeholder" width="49%">
		<img src="/plot/hum" alt="Image Placeholder" width="49%">

    <h1 align="center">SMOKE Sensor Data </h1>
		<h3 class="col-sm-6"> PENCEMARAN UDARA ==> Level {{ co2  }} </h3>
		<img src="/plot/co2" alt="Image Placeholder" width="49%">


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include 'footer.html' %}