{% include 'header.html' %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Prediksi</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div align="center">
      <h2>Hasil Prediksi Data Science</h2><br>
    </div>

    <div class="container" align="center">
        <p>Prediksi pencemaran udara : {{ result }}</p>
        <p>Masuk ke dalam kategori : {{ kategori }}</p>
    </div>

    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      new Chart(document.getElementById("myCanvas"), {
          type: 'bar',
          data: {
            labels: country,
            datasets: [
              {
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: value
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Text tok'
            }
          }
      });
    </script>

</div>
{% include 'footer.html' %}