{% include 'header.html' %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Prediksi</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div align="center">
      <h2>Hasil Prediksi Data Science</h2><br>
    </div>

    <div align="center">
    <div class="col-md-6" >
        <div class="card card-info" >
            <div class="card-header">
                <h3 class="card-title">Result</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
            </div>

            <div class="card-body">
                <div align="center">
                    <p>Prediksi pencemaran udara : {{ result }}</p>
                    <p>Masuk ke dalam kategori : {{ kategori }}</p>
                </div>

                <div class="ct-chart ct-perfect-fourth"></div>

                <script>
                  var label = {{label|tojson}}
                  var co = {{co|tojson}}
                  var co2 = {{co2|tojson}}

                  var data = {
                      labels: label,
                      series: [
                          co, co2
                          ]
                  };
                  new Chartist.Line('.ct-chart', data);
                </script>

            </div>
        </div>
    </div>
    </div>

<!--    <div class="container" align="center">-->
<!--        <p>Prediksi pencemaran udara : {{ result }}</p>-->
<!--        <p>Masuk ke dalam kategori : {{ kategori }}</p>-->
<!--    </div>-->
</div>
{% include 'footer.html' %}