{% include 'header.html' %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Summary</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div align="center">
      <h2>Perbandingan kadar CO2 dari Data Sensor dengan File CSV</h2><br>
    </div>

    <div class="ct-chart ct-perfect-fourth"></div>

    <script>
       var data = {
           labels: ['01-03-2021', '02-03-2021', '03-03-2021', '04-03-2021', '05-03-2021', '06-03-2021', '07-03-2021' ],
           series: [
               [13, 17, 21, 19, 16, 25, 23],
               [11, 24, 20, 15, 10, 18, 22]
               ]
       };
       new Chartist.Line('.ct-chart', data);
    </script>
</div>

{% include 'footer.html' %}