{% include 'header.html' %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Tabel Data Science</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div align="center">
        <h2>Tabel Data Science</h2><br>
    </div>

    <div class="col m-1">
        <table class="table">
          <thead class="thead-dark">
            <tr align="center">
              <th scope="col">Date</th>
              <th scope="col">PM10</th>
              <th scope="col">PM25</th>
              <th scope="col">SO2</th>
              <th scope="col">CO2</th>
              <th scope="col">O3</th>
              <th scope="col">NO2</th>
              <th scope="col">MAX</th>
              <th scope="col">Critical</th>
              <th scope="col">Categori</th>
              <th scope="col">Lokasi SPKU</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr align="center">
                <td>{{ row["date"] }}</td>
                <td>{{ row["pm10"] }}</td>
                <td>{{ row["pm25"] }}</td>
                <td>{{ row["so2"] }}</td>
                <td>{{ row["co2"] }}</td>
                <td>{{ row["o3"] }}</td>
                <td>{{ row["no2"] }}</td>
                <td>{{ row["max"] }}</td>
                <td>{{ row["critical"] }}</td>
                <td>{{ row["categori"] }}</td>
                <td>{{ row["lokasi_spku"] }}</td>
                <td align="center"><a href = "{{ url_for('delete', row_id = row.id) }}"><i class="fas fa-trash-alt"/></a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'footer.html' %}